<div class="content">
  <div class="container mt-5">
    Choose Bibile Version:
    <div class="input-group input-group-sm mb-3 w-auto">
      <select [(ngModel)]="selectedbibleV" (ngModelChange)='onBibleSelected($event)' class="custom-select w-auto"
        id="inputGroupSelect04">
        <option *ngFor="let bible of Bibles" [value]="bible.id">{{bible.name}}</option>
      </select>
    </div>

    <div [hidden]="!hide" class="row mt-sm-4 mt-md-0">
      <div *ngFor="let book of Books" class="col-sm-12 col-md-4 ">
        <ul class="list-group">
          <li [value]="book.id" (click)="getBookId(book.id,book.bibleId)"
            class="list-group-item d-flex justify-content-between align-items-center">
            {{book.name}}
            <span class=" badge badge-primary badge-pill">{{book.id}}</span>
          </li>
        </ul>
      </div>
    </div>


    <div [hidden]="!Cont" class="card text-center mt-3 mb-3">
      <div class="card-header">
        {{Content.reference}}
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <div class="scripture-styles">{{Content.content}}</div>
        <a (click)="back()" class="btn btn-primary">Back</a>
      </div>

    </div>

    <nav aria-label="Page navigation example mt-3 mb-3" [hidden]="!hideB">
      <ul class="pagination justify-content-center row mt-sm-4 mt-md-0">
        <li *ngFor="let chapter of Chapters" class="page-item ">
          <a class="page-link" value="chapter.id"
            (click)="getChapter(chapter.bibleId,chapter.id)">{{chapter.reference}}</a>
        </li>
      </ul>
    </nav>

  </div>
</div>

<footer class="footer">
  <div class="card-footer text-muted">
    <footer>
      Copyright &copy; <span id="copyright">{{ currentYear }}</span> Enduring Cross.
    </footer>

  </div>
</footer>
