.carousel-inner img {
  margin: auto;
}

.transbox {
  position: absolute;
  bottom: 0px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;

  max-width: 800px;
  /* Maximum width */
  margin: 0 auto;
  /* Center it */
}
